@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.user-info  {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 0px 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-info section {
    flex: 1;
    min-width: 280px;
}


.input-h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 1.1rem;
    color: #334155;
}

#age-group {
    width: 100%;
    padding: 14px;
}

/* focus-ring border is the part making the border blue on top of custom color set below */
gmp-place-autocomplete::part(focus-ring)  { 
    display: none;
}

#age-group, gmp-place-autocomplete  {
    border: 2px solid #e2e8f0;
    border-radius: 10px;
    font-family: inherit;
    background-color: #fff;
    cursor: pointer;
    transition: border 0.4s ease-in;
    font-size: 1rem;
    color:black;
}

#age-group:is(:hover, :focus), gmp-place-autocomplete:is(:hover, :focus)  {
    outline:none;
    border: 2px solid #bad879;
}

.trip-input  {
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    font-family: inherit;
    background-color: #fff;
    cursor: pointer;
    transition: border 0.4s ease-in;
    font-size: 1rem;
    color:black;
}

.trip-input:is(:hover, :focus) {
    outline:none;
    border: 1px solid #bad879;
}

button,input    {
    font-family: "Open Sans";
    border: 0;
    padding: 5px;
    background-color: #bad879;
    border-radius: 10px;
    font-size: 15px;
    /* color: #bad879; */
}
button:hover    {
    cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
